html,body,#app{
  margin: 0;
	padding: 0;
  // 父元素的min-height不能被子元素通过百分比继承
  height: 100%;
  
}

html{
  font-size: 20px;

}

body{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: .85rem;
  line-height: 1.5;
}
* {
  box-sizing: border-box;

}